body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #656565;
  /* background-image: url(~/Images/background.gif);
  background-repeat: repeat; */
  /*margin: 0;*/
  /*padding: 0;*/
  /*text-align: center;*/
  /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
  /*font-size: 0.7em;*/
  color: #FFFFFF;
}

a {
	text-decoration: none;
	color: #DBB94F;
}

	a:visited {
		color: #C19B28;
	}

	a:hover {
		text-decoration: underline;
		color: #E6CD84;
	}

	a:active {
		color: #C19B28;
	}


h1 {
  border-bottom: 1px solid gray;
  margin-top: 0;
}

h2 {
  border-bottom: 1px solid gray;
  margin-top: 0;
}

.text-center {
  text-align: center;
}

/* View: photo list */
.photos {
  list-style: none;
}

.photos li {
  clear: both;
  background-color: #656565;
  height: 115px;
  padding-top: 15px;
}

.thumb {
  float: left;
  height: 100px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 100px;
}

.mid {
  float: left;
  height: 100px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 100px;
}

/* View: photo album */
.photo {
  /* background-color: white; */
  display: none;
  float: left;
  /* height: 400px; */
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 600px;
}

.photo:first-child {
  display: block;
}

.photo-images {
  /* background-color: white; */
  float: left;
  height: 700px;
  overflow: hidden;
  position: relative;
  width: 700px;
}

.photo-thumbs {
  list-style: none;
  margin: 0;
}

.photo-thumbs img {
  /* height: 100px; */
  padding: 1em;
  width: 150px;
}

.photo-thumbs li {
  /* background-color: white; */
  border: 1px solid white;
  cursor: pointer;
  display: inline-block;
  margin: 1em;
  padding: 5px;
  width: 200px;
}

.specs {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.specs dt {
  font-weight: bold;
}

.specs > li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.specs > li > span {
  font-size: 1.2em;
  font-weight: bold;
}
